In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("C:/Users/animesh.ghosh/Desktop/Project/dataset/ml-latest-small/movies.csv")

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
len(movies)

9742

In [6]:
genre = set(('|'.join(list(movies.iloc[:,2]))).split('|'))
print(genre)

{'Sci-Fi', 'Romance', 'Thriller', 'IMAX', 'Comedy', 'Children', 'Western', 'Crime', 'Adventure', 'Action', 'Drama', 'Mystery', 'Animation', 'Documentary', 'Fantasy', 'War', 'Horror', 'Film-Noir', '(no genres listed)', 'Musical'}

In [7]:
genreDict = {}
ind = 0
for i in genre:
    genreDict.update({i:ind})
    ind+=1
genreDict

{'Sci-Fi': 0,
 'Romance': 1,
 'Thriller': 2,
 'IMAX': 3,
 'Comedy': 4,
 'Children': 5,
 'Western': 6,
 'Crime': 7,
 'Adventure': 8,
 'Action': 9,
 'Drama': 10,
 'Mystery': 11,
 'Animation': 12,
 'Documentary': 13,
 'Fantasy': 14,
 'War': 15,
 'Horror': 16,
 'Film-Noir': 17,
 '(no genres listed)': 18,
 'Musical': 19}

In [8]:
def convert(list_genre):
    list_genre = list_genre.split('|')
    res = [0 for i in range(len(genre))]
    for i in list_genre:
        res[genreDict[i]]=1
    st = ''
    for i in res:
        st+=str(i)
    return st

In [9]:
convert("Animation|Sci-Fi")

'10000000000010000000'

In [10]:
mod1_moviesdf = pd.DataFrame({"movieID":movies.iloc[:,0],"title":movies.iloc[:,1],"genre":[convert(i) for i in movies.iloc[:,2]]})

In [11]:
mod1_moviesdf.head()

   movieID                               title                 genre
0        1                    Toy Story (1995)  00001100100010100000
1        2                      Jumanji (1995)  00000100100000100000
2        3             Grumpier Old Men (1995)  01001000000000000000
3        4            Waiting to Exhale (1995)  01001000001000000000
4        5  Father of the Bride Part II (1995)  00001000000000000000

In [12]:
len(movies)

9742

In [13]:
len(mod1_moviesdf)

9742