In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv("C:/Users/animesh.ghosh/Desktop/Project/dataset/ml-latest-small/ratings.csv")

In [11]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
len(rating)

100836

In [12]:
userID = pd.DataFrame(set(rating.iloc[:,0]))
print(userID.head())
len(set(rating.iloc[:,0]))

   0
0  1
1  2
2  3
3  4
4  5

610

In [13]:
moviesID = pd.DataFrame(set(rating.iloc[:,1]))
print(moviesID.head())
len(set(rating.iloc[:,1]))

   0
0  1
1  2
2  3
3  4
4  5

9724

In [14]:
movieRating = pd.DataFrame(set(rating.iloc[:,2]))
print(movieRating)
len(set(rating.iloc[:,2]))

     0
0  0.5
1  1.0
2  2.0
3  3.0
4  4.0
5  5.0
6  4.5
7  3.5
8  2.5
9  1.5

10