In [8]:
import pandas as pd

In [9]:
tags = pd.read_csv("C:/Users/animesh.ghosh/Desktop/Project/dataset/ml-latest-small/tags.csv")

In [10]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [21]:
len(tags)

3683

In [23]:
movie_tag = pd.DataFrame(set(tags.iloc[:,2]))
print(movie_tag.head(10))
len(set(tags.iloc[:,2]))

                       0
0          unintelligent
1              halloween
2             very funny
3         graphic design
4  interwoven storylines
5          Studio Ghibli
6         jack nicholson
7       Ninotchka remake
8             Girl Power
9                  eerie

1589

In [25]:
tagsDF = pd.DataFrame(tags)
print(len(tagsDF))
tagsDF.isnull().head()

3683

   userId  movieId    tag  timestamp
0   False    False  False      False
1   False    False  False      False
2   False    False  False      False
3   False    False  False      False
4   False    False  False      False

In [5]:
moviesID = pd.DataFrame(set(tags.iloc[:,1]))
print(moviesID.head(10))
len(set(tags.iloc[:,1]))

        0
0       1
1       2
2       3
3  122882
4       5
5    8197
6       7
7      11
8      14
9    8207

1572

In [6]:
userID = pd.DataFrame(set(tags.iloc[:,0]))
print(userID.head(10))
len(set(tags.iloc[:,0]))

     0
0  256
1  509
2    2
3  513
4  132
5    7
6  520
7  138
8   18
9  274

58